.root {
     -fx-background-image: url("background.jpg");
     -fx-background-size: cover;
}

.grid {
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.grid .label {
    -fx-font-size: 24px;
    -fx-font-family: "Arial Narrow";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
 }